@use "../../styles/tokens/index.scss" as *;
@use "sass:color";

.btn {
  padding: 10px 16px;
  border: none;
  border-radius: $radius-sm;
  cursor: pointer;
  font-weight: 500;
  &+.btn {
    margin-left: 12px;
  }
  &--primary {
    background-color: $color-primary;
    color: white;
    &:hover {
      background-color: $color-primary-hover;
    }
  }
  
  &--secondary {
    background-color: $color-secondary;
    color: $color-secondary-text;
    &:hover {
      background-color: color.adjust($color-secondary, $lightness: -5%);
    }
  }

  &--danger {
    background-color: $color-danger;
    color: white;
    &:hover {
      background-color: color.adjust($color-danger, $lightness: -5%);
    }
  }

  &--success {
    background-color: $color-success;
    color: white;
    &:hover {
      background-color: color.adjust($color-success, $lightness: -5%);
    }
  }

  &--warning {
    background-color: $color-warning;
    color: white;
    &:hover {
      background-color: color.adjust($color-warning, $lightness: -5%);
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
  }

  &--outline-primary {
    background-color: transparent;
    border: 1px solid $outline-color;
    color: $outline-primary-text;
    &:hover {
      background-color: $outline-primary-hover-color;
    }
  }

  &--outline-secondary {
    background-color: transparent;
    border: 1px solid $outline-secondary-color;
    color: $outline-secondary-text;
    &:hover {
      background-color: $outline-secondary-hover-color;
    }
  }

  &--link {
    background-color: transparent;
    color: $color-primary;
    padding: 0;
  }

  &--disabled {
    background-color: $color-neutral-100;
    color: $color-neutral-900;
    cursor: not-allowed;
  }
  
  &--sm {
    padding: 6px 12px;
    font-size: 12px;
  }
  
  &--md {
    padding: 10px 16px;
    font-size: 14px;
  }
  
  &--lg {
    padding: 14px 20px;
    font-size: 16px;
  }
  
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}


