@use "./tokens/index.scss" as *;

:root {
  --app-bg: #f3f4f6;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--app-bg);
  font-family: Arial, Helvetica, sans-serif;
}

.code-block {
  background: $color-secondary;
  color: $color-black;
  padding: $space-0 $space-6 $space-6;
  border-radius: $radius-md;
  overflow-x: auto;
  font-size: 14px;
  code {
    font-family: "Courier New", Courier, monospace;
    line-height: 2.2;
  }
}