@use "./base/reset";
@use "./base/typography";
@use "./abstracts/variables";
@use "./components/button";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}