@use "../styles/tokens/index.scss" as *;

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  .app-main {
    flex: 1;
    overflow-y: auto;
    background-color: $color-white;
  }
}
